@font-face {
  font-family: 'B Nazanin';
  src: url('B-NAZANIN.TTF') format('truetype');
}

body {
  font-family: 'B Nazanin', sans-serif;
  background: linear-gradient(135deg, #4fc3f7, #a7d4af); /* آبی با رگه‌های سبز مایل به قهوه‌ای */
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: right;
}

header {
  text-align: center;
  padding: 30px 20px 10px;
  font-size: 1.5em;
  color: #003049;
}

.description {
  padding: 15px 20px;
  font-size: 1.1em;
  color: #333;
  max-width: 600px;
  line-height: 1.8;
  margin-right: auto;
  margin-left: auto;
}
